<html>
<head>
    <title>My Account - DocsByMario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/magicpattern.css">
    <link rel="stylesheet" href="https://docsbymario-env.s3.eu-north-1.amazonaws.com/fontawesome/css/all.min.css?v=1.0">

    <script>
        var searchBarDisplayed = false;

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        function showSearchBarOnMobile() {
            console.log(searchBarDisplayed);
            document.getElementById("search-mobile").style.display = searchBarDisplayed ? "none" : "inherit";

            searchBarDisplayed = !searchBarDisplayed;

            if (searchBarDisplayed) {
                document.getElementById("search-mobile-button").classList.add("active");
            }
            else {
                document.getElementById("search-mobile-button").classList.remove("active");
            }
        }


    </script>

</head>
<body class="body-dark">
<!--
<div class="popup" id="popup">
    <div class="popup-text">
        This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
    </div>
    <div class="popup-close">
        <a href="#" onClick="closePopup()">X</a>
    </div>
</div>
-->
<form th:action="@{/logout}" method="POST">
    <input type="submit" style="display: none">
    <div class="menu light">
        <div class="menu-title light">
            <a href="http://docsbymario.com"><span class="logo">DocsByMario</span></a> | <a th:href="@{/}">Account</a>
        </div>
        <div class="menu-items">
            <div class="menu-item light">
                <button type="submit" class="noborder">
                    <i class="fa-solid fa-sign-out"></i> <span
                        class="menu-item-text">Logout</span>
                </button>
            </div>
        </div>
    </div>
    <div class="menu" style="display: none" id="search-mobile">
        <input type="text" placeholder="Type something here to search..." name="app-query-mobile">
    </div>
</form>

<div class="area-grid">
    <div class="box-grid light">
        <a href="#">
            <div class="box-grid-title">
                <i class="fa-solid fa-user"></i> Change username
            </div>
            <div class="box-grid-content secondary">
                <span>You can change your name. And you're allowed to do it for free.</span>
            </div>
        </a>
    </div>
    <div class="box-grid light">
        <a href="#">
            <div class="box-grid-title">
                <i class="fa-solid fa-lock"></i> Change password
            </div>
            <div class="box-grid-content secondary">
                <span>Did you make a terrible choice regarding your password?</span>
            </div>
        </a>
    </div>
    <div class="box-grid light">
        <a th:href="@{/notes}">
            <div class="box-grid-title">
                <i class="fa-solid fa-pen"></i> Notes
            </div>
            <div class="box-grid-content secondary">
                <span>Your private space. Unlimited (or something like that).</span>
            </div>
        </a>
    </div>
    <div class="box-grid light">
        <a href="#">
            <div class="box-grid-title">
                <i class="fa-solid fa-chart-simple"></i> Statistics
            </div>
            <div class="box-grid-content secondary">
                <span>You can see the total time wasted on our apps. Think before clicking this button.</span>
            </div>
        </a>
    </div>
    <div class="box-grid light">
        <a href="#">
            <div class="box-grid-title">
                <i class="fa-solid fa-handshake-angle"></i> My Tickets
            </div>
            <div class="box-grid-content secondary">
                <span>If something doesn't work right, feel free to open a support ticket.</span>
            </div>
        </a>
    </div>
    <div class="box-grid light">
        <a href="#">
            <div class="box-grid-title">
                <i class="fa-solid fa-dollar-sign"></i> Donate
            </div>
            <div class="box-grid-content secondary">
                <span>Everything we do costs money. Help us with a donation.</span>
            </div>
        </a>
    </div>
    <div class="box-grid light">
        <a href="#">
            <div class="box-grid-title">
                <i class="fa-solid fa-code"></i> Developer Tools
            </div>
            <div class="box-grid-content secondary">
                <span>Are you a developer? I think there's a way you could help us...</span>
            </div>
        </a>
    </div>
</div>

</body>
</html>