<html>
<head>
    <title>Notes - DocsByMario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/magicpattern.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="https://docsbymario-env.s3.eu-north-1.amazonaws.com/fontawesome/css/all.min.css?v=1.0">

    <script>
        var searchBarDisplayed = false;

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        function showSearchBarOnMobile() {
            console.log(searchBarDisplayed);
            document.getElementById("search-mobile").style.display = searchBarDisplayed ? "none" : "inherit";

            searchBarDisplayed = !searchBarDisplayed;

            if (searchBarDisplayed) {
                document.getElementById("search-mobile-button").classList.add("active");
            }
            else {
                document.getElementById("search-mobile-button").classList.remove("active");
            }
        }

        function openModal(title, content) {
            document.getElementById("viewModalTitle").innerHTML = title;
            document.getElementById("viewModalContent").innerHTML = title;
            document.getElementById("viewModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("viewModal").style.display = "none";
            document.getElementById("viewModalTitle").innerHTML = "Unknown";
            document.getElementById("viewModalContent").innerHTML = "Unknown";
        }

        window.onclick = function(event) {
          if (event.target == document.getElementById("viewModal")) {
            document.getElementById("viewModal").style.display = "none";
          }
        }
    </script>

</head>
<body class="body-dark">
<!--
<div class="popup" id="popup">
    <div class="popup-text">
        This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
    </div>
    <div class="popup-close">
        <a href="#" onClick="closePopup()">X</a>
    </div>
</div>
-->
<form th:action="@{/logout}" method="POST">
    <input type="submit" style="display: none">
    <div class="menu light">
        <div class="menu-title light">
            <a href="http://docsbymario.com"><span class="logo">DocsByMario</span></a> | <a th:href="@{/}">Account</a>
        </div>
        <div class="menu-items">
            <div class="menu-item light">
                <button type="submit" class="noborder">
                    <i class="fa-solid fa-sign-out"></i> <span
                        class="menu-item-text">Logout</span>
                </button>
            </div>
        </div>
    </div>
    <div class="menu" style="display: none" id="search-mobile">
        <input type="text" placeholder="Type something here to search..." name="app-query-mobile">
    </div>
</form>
<div class="area padded-extra">
    <form th:action="@{/notes/add}" method="POST" class="form">
        <h1>Add a note</h1>

        <div th:insert="~{notification.html :: notification}"></div>

        <div class="form-item">
            <label for="name">Title</label>
            <input type="text" id="name" name="title" class="textbox dark" required/>
        </div>
        <div class="form-item">
            <label for="name">Content</label>
            <textarea id="content" name="content" class="textbox dark textarea textarea-add" required></textarea>
        </div>
        <div class="form-item">
            <button class="btn-dark">Create</button>
        </div>
    </form>
</div>


</body>
</html>