<html>
<head>
    <title>Notes - DocsByMario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/magicpattern.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="https://docsbymario-env.s3.eu-north-1.amazonaws.com/fontawesome/css/all.min.css?v=1.0">

    <script>
        var searchBarDisplayed = false;

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        function showSearchBarOnMobile() {
            console.log(searchBarDisplayed);
            document.getElementById("search-mobile").style.display = searchBarDisplayed ? "none" : "inherit";

            searchBarDisplayed = !searchBarDisplayed;

            if (searchBarDisplayed) {
                document.getElementById("search-mobile-button").classList.add("active");
            }
            else {
                document.getElementById("search-mobile-button").classList.remove("active");
            }
        }

        function openModal(modalName, id, title, content) {
            document.getElementById(modalName + "ModalTitle").innerHTML = title;
            document.getElementById(modalName + "ModalTitle").value = title;
            document.getElementById(modalName + "ModalContent").innerHTML = content;

            if (modalName == "edit") {
                document.getElementById(modalName + "ModalId").value = id;
            }

            document.getElementById(modalName).style.display = "block";
        }

        function closeModal(modalName) {
            document.getElementById(modalName).style.display = "none";
            document.getElementById(modalName + "ModalTitle").innerHTML = "Unknown";
            document.getElementById(modalName + "ModalContent").innerHTML = "Unknown";
        }

        window.onclick = function(event) {
          if (event.target == document.getElementById("view") || event.target == document.getElementById("edit")) {
            document.getElementById("view").style.display = "none";
            document.getElementById("edit").style.display = "none";
          }
        }



    </script>

</head>
<body class="body-dark">
<!--
<div class="popup" id="popup">
    <div class="popup-text">
        This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
    </div>
    <div class="popup-close">
        <a href="#" onClick="closePopup()">X</a>
    </div>
</div>
-->
<form th:action="@{/logout}" method="POST">
    <input type="submit" style="display: none">
    <div class="menu light">
        <div class="menu-title light">
            <a href="http://docsbymario.com"><span class="logo">DocsByMario</span></a> | <a th:href="@{/}">Account</a>
        </div>
        <div class="menu-items">
            <div class="menu-item light">
                <button type="submit" class="noborder">
                    <i class="fa-solid fa-sign-out"></i> <span
                        class="menu-item-text">Logout</span>
                </button>
            </div>
        </div>
    </div>
    <div class="menu" style="display: none" id="search-mobile">
        <input type="text" placeholder="Type something here to search..." name="app-query-mobile">
    </div>
</form>

<div class="padded">
    <div th:insert="~{notification.html :: notification}"></div>
</div>

<div class="area-grid">
    <a th:href="@{/notes/add}">
        <div class="box-grid add dark">
            <div class="circle">
                <i class="fas fa-plus plus"></i>
            </div>
        </div>
    </a>
    <form th:action="@{/notes/delete}" method="POST" class="box-grid light" th:each="note : ${notes}">
        <input type="hidden" name="id" th:value="${note.id}">

        <div class="box-grid-title">
            <span th:text="${note.title}"></span>
        </div>
        <div class="box-grid-content secondary">
            <button class="btn-dark" th:data-id="${note.id}" th:data-title="${note.title}"
                    th:data-content="${note.content}"
                    onclick="openModal('view', this.getAttribute('data-id'), this.getAttribute('data-title'), this.getAttribute('data-content'))">
                View
            </button>
            <button class="btn-dark" th:data-id="${note.id}" th:data-title="${note.title}"
                    th:data-content="${note.content}"
                    onclick="openModal('edit', this.getAttribute('data-id'), this.getAttribute('data-title'), this.getAttribute('data-content'))">
                Edit
            </button>
            <button type="submit" class="btn-dark">Delete</button>
        </div>
    </form>
</div>

<!-- View Modal -->
<div id="view" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('view')">&times;</span>
        <div class="modal-items">
            <textarea class="textbox-invisible textarea textbox-title" id="viewModalTitle" readonly="true"></textarea>
            <textarea id="viewModalContent" class="textbox-invisible textarea textarea-content"
                      readonly="true"></textarea>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div id="edit" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('edit')">&times;</span>
        <form th:action="@{/notes/update}" method="POST">
            <div class="modal-items gapped">
                <input type="hidden" name="id" id="editModalId">
                <input type="text" class="textbox light" name="title" id="editModalTitle" placeholder="Title" required>
                <textarea id="editModalContent" class="textarea textarea-content textbox light" name="content"
                          placeholder="Content" required></textarea>
                <button class="btn-dark">Save</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>